.site {

    @include container();
    margin-left: gutter(1);
    margin-right: gutter(1);

    // Desktop Screens
    @include breakpoint($screen-large) {
        @include container(1140px);
    }
}

.content-area {
    @include breakpoint($screen-large) {
        // @include span(8 of 12 nest);
    }
}

.entry-header {
    @include bleed-x(99em);
    background: $cd_background;
    @include clearfix;
}

.entry-title {
    padding: 0 0 4rem 0;
    margin: 0;
    color: $cd_text;
    text-align: center;

    @include breakpoint( $bp_small ) {
        font-size: 2.9rem;
        padding: 2rem 0 4rem 0;
        @include span(8 of 12 );
        @include push(2 of 12);
    }

    @include breakpoint( $bp_medium ) {
        padding: 4rem 0 8rem 0;
    }
}

aside.widget-area {
    @include breakpoint($screen-large) {
        @include span(4 of 12 last);
    }
}