.spotlights {
    @include clearfix;
    .item {
        @include span( 12 of 12 );

        @include breakpoint( $tablet-large ) {
            @include span( 6 of 12 );
        }
        margin-bottom: 2.5rem;

        .icon {
            display: none;

            @include breakpoint( $tablet-large ) {
                display: block;
                @include span( 1 of 6 );
            }
        }
        .item-details {
            font-size: 1rem;
            @include span( 6 of 6 );
            @include breakpoint( $tablet-large ) {
                @include span( 5 of 6 );
            }
            h3 {
                margin-top: 0;
            }
        }
    }
}

.repo {
    display: block;
    width: 200px;
    margin: 0 auto;
    @include breakpoint( $tablet-small ) {
        width: 300px;
    }
}

.btn-support {
    text-align: center;
    display: block;
    width: 100%;
    a {
        color: $cl_text;
        &:visited {
            color: $cl_text;
        }
    }
}

.contact-text {
	@include span( 12 of 12 );
    @include breakpoint( $tablet-large ) {
        @include span( 4 of 12 );
    }
	font-size: 1rem;
	h2 {
		text-align: left;
		&:after {
			display: none;
		}
	}
}

.contact-form {
    @include span( 12 of 12 );
    @include breakpoint( $tablet-large ) {
        @include span( 6 of 12 );
        @include push(2);
    }

}