.site-header {
    @include bleed-x(99em);
    background: $cd_background;
}

.site-branding {
    float: left;
    color: $cd_text;

    a,
    a:visited {
        color: $cd_text;
        text-decoration: none;
    }
    .site-title {
        float: left;
        // Styles
        text-transform: uppercase;
        margin: 0;
        a, a:visited {
            font-size: 2em;
            line-height: $header-height;
            font-weight: $f_bold;
        }
    }

    .site-description {
        float: left;
        padding-left: 25px;
        margin: 0;
        line-height: $header-height;
        font-size: 0.8rem;
        font-style: italic;
        color: darken( $cd_text, 20%);
    }
}

.main-navigation {
    @include span(6 of 12 last);
    ul {
        float: right;
        line-height: $header-height;

        a,
        a:visited {
            color: $cd_text;
            text-transform: uppercase;
            font-size: 0.9rem;
            transition: all .3s;
        }
        a:hover {
            color: darken( $cd_text, 20% );
        }
    }
}