$size__site-main: 100%;
$size__site-sidebar: 25%;

// Breakpoints
$screen-large: 1280px;
$screen-small: 1100px;

$tablet-large: 768px;
$tablet-small: 480px;

$mobile-large: 320px;
$mobile-small: 240px;

// Header
$header-height : 8rem;

$bp_small: 590px;
$bp_medium: 1140px;
$bp_large: 1400px;
